<div class="card justify-content-center"> 
    <div class="card-body row col-sm-3  justify-content-center ">
        <div class="card-header  "> hello</div>
        <div class="card-body">helld dj</div>
    </div>
    <!-- <div class="row justify-content-center text-left">
        <div class="form-group col-sm-6 flex-column ">
            <label class="form-control-label px-3" for="password">Password
                <span class="text-danger"> *</span></label>
            <input type="password" id="password" formControlName="password" placeholder="pass@123">
            <label style="color: red;" *ngIf="hospitalloginform.get('password')?.touched  && hospitalloginform.get('password')?.invalid">not valid password
            </label>
        </div>
    </div> -->
    
</div>