<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <h1>hello</h1>


  <div class="boxicons"  #captchaelement1>
   
    <!-- <a (click)="svgCaptcha()" class="text-success"> res</a> &nbsp;&nbsp; -->
    
  </div>
  



  <!-- 
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  
 
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

  <div>
    {{temp3}}
    <div>
      <h1>sotto </h1>
        <table>
            <tr>
                <th>Total No. Cases</th>
                <th>Approvd Case</th>
                <th>Transpant Done</th>
                <th>Pending For Approved</th>
                <th>Age</th>
            </tr>
            <tr *ngFor="let t3 of temp3">
                <td class="t1">{{t3.total_no_cases}}</td>
                <td class="t2">{{t3.Approvd_case}}</td>
                <td class="t3">{{t3.Transpant_done}}</td>
                <td class="t4">{{t3.Pending_for_Approved}}</td>
            </tr>
        </table>
    </div>
    <div>
      <h1>ayushmaan</h1>
        <table>
            <tr>
                <th>District Name</th>
                <th>Cards</th>
                <th>Transpant Done</th>
                <th>Pending For Approved</th>
                <th>Age</th>
            </tr>
            <tr *ngFor="let t2 of temp2">
                <td class="t1">{{t2.district_name}}</td>
                <td class="t2">{{t2.cards}}</td>
                <td class="t3">{{t1.yr}}</td>
                <td class="t4">{{t1.dtstamp}}</td>
            </tr>
        </table>
    </div>
    <div>
      <h1>dkbbsy</h1>
        <table>
            <tr>
                <th>District Name</th>
                <th>No. of Beneficiaries</th>
                <th>Year</th>
                <th> Date </th>
                <th>Age</th>
            </tr>
            <tr *ngFor="let t1 of temp1">
                <td class="t1">{{t1.district_name}}</td>
                <td class="t2">{{t1.beneficiaries}}</td>
                <td class="t3">{{t1.yr}}</td>
                <td class="t4">{{t1.dtstamp | date:'yyyy-MM-dd'}}</td>
            </tr>
        </table>
    </div>
     </div>-->

</body>
</html>