<div>
    <div>
        <h1>ENTRY DATA</h1>
    </div>
    <div>
        <form [formGroup]="entryForm" (ngSubmit)="entrydata()">
            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" />
           
            </div> -->
            <div class="form-group">
                <select
                class="custom-select mb-3"
                (change)="changeCity($event)"
                formControlName="cityName"
              >
                <option value="">Choose City</option>
                <option *ngFor="let city of City" [ngValue]="city">
                  {{ city }}
                </option>
              </select>
            </div>
            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" />
           
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" />
           
            </div>
     -->
            <div class="form-button">
                <button [disabled]="entryForm!.invalid" >
                <!-- <span *ngIf="loading" ></span> -->
                SAVE PROFILE
            </button>
            </div>
        </form>
    </div>
</div>
